* {
  scrollbar-width: thin;
  scrollbar-color: #87b7ff #272990;
  margin: 0;
  padding: 0;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #1e1f25;
}

*::-webkit-scrollbar-thumb {
  background-color: #87b7ff;
  border-radius: 20px;
  border: 3px solid #272932;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* INICIO HEADER */

.btn-voltar {
  width: 60px;
  padding: 20px;
  position: absolute;
  transition: 0.6s;
}

.btn-voltar:hover {
  transform: translatex(-13px);
  opacity: 0.9;
}

.navbar {
  padding: 0;
  width: 100%;
  display: flex;
  margin: 0;
}

.navbar .container {
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;
  width: 100%;
  background-color: #272932;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 27px;
}

.container p {
  color: #faf0ca;
  font-size: 45px;
}

.navbar .container a {
  text-decoration: none;
  color: #faf0ca;
  transition: 0.3s;
}

.navbar .container a:hover {
  color: #df2935;
}

.navbar .container li {
  list-style: none;
  justify-content: space-around;
}

.menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  font-size: 25px;
  font-weight: 1px;
}

/* FIM HEADER */

/* .text_left {
  display: flex;
  align-items: center;
  align-self: flex-start;

  width: 94%;
}

.text_left h1 {
  color: #ffffff;
  font-size: 3rem;
  padding-left: 15px;
} */

.header {
  display: flex;
  align-items: center;
  align-self: flex-start;
  justify-content: space-between;
  padding-top: 30px;
  width: 88%;
}

.header h1 {
  color: #ffffff;
  font-size: 3rem;
  padding-left: 15px;
}

.header .header-title {
  display: flex;
  align-items: center;
}

.uil-user-circle {
  color: #63abb6;
  width: 100px;
  padding-left: 18px;
}

.mainlogin {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #272932;
  justify-content: center;
  align-items: flex-start;
}

.son_card {
  flex-wrap: wrap;
  width: 90%;
  min-height: 90%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #272932;
  margin-top: 0px;
}

.block_text {
  width: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
}

.block_text h1 {
  color: #ff1919;
  font-weight: 800;
}

.textfield {
  width: 110%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 17px 0px;
}

.textfield input {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #514869;
  padding: 15px;
  color: #f0ffffde;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 40.6);
  background: rgba(255, 255, 255, 0.114);
  box-shadow: 8px 8px 32px 20px rgba(0, 0, 0, 0.427);
  outline: none;
  box-sizing: border-box;
  border-bottom: 2px solid #df2935;
  padding-left: 32px;
}

label {
  color: #f0ffffde;
  margin-bottom: 10px;
}
input::placeholder {
  color: #f0ffff94;
}

.btnlogin {
  width: 50%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 9px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  background-color: #df2935;
  box-shadow: 0px 10px 40px -12px #ff3a2c;
  transition: 0.6s;
  border: #df2935 2px solid;
}

.btnlogin:hover {
  background-color: #00010400;
  border: #df2935 2px solid;
}

form span {
  color: white;
}
.cadastre_references {
  color: #df2935;
  transition: 0.7s;
}

.cadastre_references:hover {
  color: #ffffff;
}
.uil-cog {
  color: #63abb6;

  margin-top: -35px;
  margin-left: 8px;
}

.uil-user-check {
  color: #63abb6;

  margin-top: -35px;
  margin-left: 8px;
}
.uil-store-alt {
  color: #63abb6;

  margin-top: -35px;
  margin-left: 8px;
}

.img_right {
  margin-top: -150px;
}

@media screen and (max-width: 1672px) {
  .img_right {
    display: none;
  }
}

@media screen and (max-width: 1515px) {
  .img_right {
    width: 40%;
  }
}

@media screen and (max-width: 1415px) {
  .img_right {
    width: 45%;
  }
}

@media screen and (max-width: 1000px) {
  .img_right {
    min-height: 60vh;
  }
}
@media screen and (max-width: 900px) {
  .block_text {
    width: 70%;
  }
  @media screen and (max-width: 800px) {
    .img_right {
      display: none;
      min-height: 80vh;
    }

    .navbar {
      display: none;
    }
  }
  .img_right {
    display: none;
    min-height: 80vh;
  }
}

/* List of machines */

.link_home {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
  height: 3.5rem;
  padding-right: 0 16px 10px 0;
}

.div-list-machines {
  color: #ffffff;
  background-color: #00000052;
  border-radius: 20px;
  height: auto;
  width: auto;
  padding: 36px;
  margin: 44px 0 40px 0;
}

.table-machines tr .td-title {
  padding: 0 14rem 1rem 0;
  font-size: 20px;
}

.table-machines .machines-data .td-content {
  font-size: 18px;
  padding: 0 0 6px 0;
  border-bottom: 2px solid white;
}

.table-machines .machines-data .td-content span {
  padding: 16px;
}

.btn-add-machine {
  font-size: 0.9em;
  font-weight: 600;
  text-decoration: none;
  background: #df2935;
  color: #faf0ca;
  border: 1px solid #df2935;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.8s ease, color 0.8s ease-out;
  letter-spacing: 0.5px;
  padding: 7px 35px;
}

.modal-add-machine {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 84vh;
  width: 64vw;
  position: fixed;
  z-index: 10000;
  top: 20%;
  background-color: #000000;
  border-radius: 20px;
}

#isActive_select {
  width: 70%;
  height: 2rem;
}

option {
  color: #000000;
}

.btn-close-modal {
  background-color: #000000;
  border: none;
  margin: 0 0 0 2rem;
  height: 34px;
  cursor: pointer;
}

.modal-header {
  color: white;
  width: 68%;
  display: flex;
  justify-content: space-between;
}
/* ------------------------------ */
