* {
  scrollbar-width: thin;
  scrollbar-color: #87b7ff #272990;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #1e1f25;
}

*::-webkit-scrollbar-thumb {
  background-color: #87b7ff;
  border-radius: 20px;
  border: 3px solid #272932;
}

.btn-voltar {
  width: 60px;
  padding: 20px;
  position: absolute;
  transition: 0.6s;
}

.btn-voltar:hover {
  transform: translatex(-13px);
  opacity: 0.9;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #272932;
  overflow-x: hidden;
}

/* INICIO HEADER */

.navbar {
  padding: 0;
  width: 100%;
  display: flex;
  margin: 0;
  visibility: hidden;
}

.navbar .container {
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;
  width: 100%;
  background-color: #272932;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 27px;
}

.menu li .btn_login {
  color: #df2935 !important;
}

.container p {
  color: #faf0ca;
  font-size: 45px;
}

.navbar .container a {
  text-decoration: none;
  color: #faf0ca;
  transition: 0.3s;
}

.navbar .container a:hover {
  color: #df2935;
}

.navbar .container li {
  list-style: none;
  justify-content: space-around;
}

.menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  font-size: 25px;
  font-weight: 1px;
}

/* FIM HEADER */

.text_left {
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding-top: 30px;
  width: 94%;
  visibility: hidden;
}

.text_left h1 {
  color: #ffffff;
  font-size: 3rem;
  padding-left: 15px;
}

.uil-user-circle {
  color: #63abb6;
  width: 150px;
}

.mainlogin {
  width: 100%;
  margin-top: 120px;
  display: flex;
  height: 100%;
  background-color: #272932;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.son_card {
  flex-wrap: wrap;
  width: 87%;
  display: flex;
  justify-content: space-around;
}

.block_text {
  width: 45%;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px 0px;
}

.block_text h1 {
  color: #df2935;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 4rem;
}

.textfield {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 17px 0px;
  position: relative;
}

.textfield input {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #514869;
  padding: 15px;
  color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 40.6);
  background: rgba(255, 255, 255, 0.114);
  box-shadow: 2px 2px 23px 12px rgba(0, 0, 0, 0.427);
  outline: none;
  box-sizing: border-box;
  border-bottom: 2px solid #df2935;
  padding-left: 32px;
}

#msg_email_validation_register {
  padding-top: 3vh;
}

#form_hidden_password {
  display: none;
}

.icon-display-password {
  position: absolute;
  color: #63abb6;
  top: 43px;
  right: 10px;
  background: transparent;
  cursor: pointer;
}

label {
  color: #f0ffffde;
  margin-bottom: 10px;
}
input::placeholder {
  color: #f0ffff94;
}

.btnlogin {
  width: 40%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 9px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  background-color: #df2935;
  box-shadow: 0px 10px 30px -10px #df2935;
  transition: 0.6s;
  border: #df2935 2px solid;
}

.btnlogin:hover {
  background-color: #00010400;
  border: #df2935 2px solid;
}

a {
  color: white;
  text-decoration: none;
  padding: 0px 8px;
}
form span {
  color: white;
}
.cadastre_references {
  color: #63abb6;
  transition: 0.7s;
}

.cadastre_references:hover {
  color: #ffffff;
}
.uil-user {
  color: #63abb6;
  width: 10px;
  margin-top: -35px;
  margin-left: 8px;
}

.uil-padlock {
  color: #63abb6;
  width: 10px;
  margin-top: -35px;
  margin-left: 8px;
}

.uil-cog {
  color: #63abb6;
  width: 10px;
  margin-top: -35px;
  margin-left: 8px;
}

.uil-user-check {
  color: #63abb6;
  width: 10px;
  margin-top: -35px;
  margin-left: 8px;
}

.uil-store-alt {
  color: #63abb6;
  width: 10px;
  margin-top: -35px;
  margin-left: 8px;
}

/* footer */

.footer {
  width: 100vw;
  height: 20vh;
  padding-top: 50px;
  background-color: #272932;
  display: flex;
  justify-content: space-between;
  color: #faf0ca;
}

.img_footer {
  padding-left: 100px;
}

.text_footer {
  font-size: 2vh;
  color: #87b7ff;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 90%;
  margin-bottom: 100px;
}

.text_footer span {
  align-self: center;
}

.footer .voltar {
  padding-left: 50px;
  padding-right: 40px;
}

@media screen and (max-width: 1586px) {
  .img_right {
    width: 40%;
  }
}

@media screen and (max-width: 1415px) {
  .img_right {
    width: 45%;
  }
  .logo img {
    height: 80px;
  }
  .menu {
    font-size: 20px;
  }
  .block_text {
    width: 50%;
  }
}
/* aqui */
@media screen and (max-width: 900px) {
  .block_text {
    width: 90%;
  }
  .img_right {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }

  .voltar {
    display: none;
  }
  .uil-user-circle {
    color: #63abb6;
    width: 100px;
  }
  .text_left h1 {
    font-size: 1.5rem;
  }
  .footer {
    justify-content: space-around;
  }
  .footer .img_footer {
    padding-left: 0px;
  }
  .footer .img_footer img {
    height: 80px;
  }
  .footer .ajuda {
    padding-right: 100px;
  }
  .footer .ajuda a {
    font-size: 20px;
  }
  .footer .ajuda h1 {
    font-size: 30px;
  }
  .footer .social a {
    font-size: 20px;
  }
  .footer .social h1 {
    font-size: 30px;
  }
}

/* @media screen and (max-height: 800px) {
  .img_right {
    width: 590px;
  }
}
@media screen and (max-height: 755px) {
  .img_right {
    width: 530px;
  }
} */
/* @media screen and (max-height: 715px) {
  .img_right {
    width: 500px;
  }
  .block_text {
    margin-top: -20px;
  }
  .navbar {
    display: none;
  }
} */
/* @media screen and (max-height: 682px) {
  .img_right {
    width: 470px;
    margin-top: -40px;
  }
}
@media screen and (max-height: 650px) {
  .img_right {
    display: none;
  }
  .block_text {
    margin-top: -80px;
  }

} */
